@charset "utf-8";
@font-face {
    font-family: 'April16th-Promise';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

* {
    font-family: 'April16th-Promise';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #ebfaff;
}

section {
    width: 340px;
    padding: 30px;
    background-color: #ffffff;
    margin: 50px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section nav.menu {
    width: 100%;
}

section nav.menu::after {
    content: "";
    display: block;
    clear: both;
}

section nav.menu a {
    font-size: 20px;
    color: #666666;
}

section nav.menu a:nth-of-type(1) {
    float: left;
}

section nav.menu a:nth-of-type(2) {
    float: right;
}

section article.profile {
    width: 100%;
    text-align: center;
}

section article.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}

section article.profile h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #555555;
    margin-bottom: 5px;
}

section article.profile h2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    color: #bbbbbb;
    margin-bottom: 30px;
}