@charset "utf-8";
@font-face {
    font-family: 'Ownglyph_noocar-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'April16th-Promise';

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;
}


/* profile card */

body {
    background-color: #CBD8E8;
}

section {
    width: 340px;
    padding: 30px;
    background-color: #ffffff;
    ;
    margin: 50px auto;
    box-shadow: 10px 10px 30px rgba(30,15,117, 0.1);
    border-radius: 10px;
}

section nav.menu {
    width: 100%;
}

section nav.menu::after {
    content: "";
    display: block;
    clear: both;
}

section nav.menu a {
    font-size: 20px;
    color: #3785D8;
}

section nav.menu a:nth-of-type(1) {
    float: left;
}

section nav.menu a:nth-of-type(2) {
    float: right;
}

section article.profile {
    width: 100%;
    text-align: center;
}

section article.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 5px 15px 30px rgba(235,178,195, 0.8);
}

section article.profile h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #1C1DAB;
    margin-bottom: 5px;
}

section article.profile h2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    color: #EBB2C3;
    margin-bottom: 30px;
}

section a.btnView {
    display: block;
    width: 180px;
    height: 32px;
    margin: 0px auto 20px;
    background-color: #1C1DAB;
    border-radius: 16px;
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    background: linear-gradient(45deg, #E893C5, #EBB2C3);
    box-shadow: 5px 10px 20px rgba(232,147,197, 0.493);
}

section ul.contact li {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #ADC6E5;
}

section ul.contact li:last-child {
    border-bottom: none;
}

section ul.contact li i {
    width: 20%;
    text-align: center;
    color: #1C1DAB;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ADC6E5;
}

section ul.contact li a {
    text-decoration: none; 
} 

section ul.contact li a:link, a:visited, a:hover, a:active {
    color: inherit; 
} 

section ul.contact li span {
    color: #1C1DAB;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 1px;
}