@charset "utf-8";
@font-face {
    font-family: 'Ownglyph_noocar-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;

    cursor: url(../static/img/butterfly.png) 12 12, auto;
}

body {
    background-color: #CBD8E8;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header */
header {
    font-family: 'Danjo-bold-Regular';

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    background-color: #CBD8E8;
    border-bottom: 1px solid #ADC6E5;
}
header .inner {
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    position: relative;
}
header .inner h1 {
    position: absolute;
    left: 0px;
    height: 100px;
    line-height: 100px;
}
header .inner h1 a {
    font: bold 30px/1;
    color: #1C1DAB;
}
header .inner #gnb {
    position: absolute;
    bottom: 10px;
    right: 0px;
}
header .inner #gnb li {
    float: left;
    width: 200px;
}
header .inner #gnb li a {
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    transition:all 0.5s;

    color: #1C1DAB;
}
header .inner #gnb li a:hover {
    background: #1C1DAB;
    color: #CBD8E8;
}
header .inner #gnb #qrcode-link {
    width: 50px;
}

/* visual */

figure {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url(../static/img/brooke.jpg);
    background-size: cover; 
    background-position: center;
    position: relative;
    overflow: hidden;
}
figure video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
}
figure .inner {
    font-family: 'Danjo-bold-Regular';
    width: 100%;
    height: 960px;
    margin: 0px auto;
    position: relative;
}
figure .inner p {
    position: absolute;
    top: 200px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #CBD8E8;
    text-shadow: 0 0 10px red ;
}
figure .inner p:nth-child(1) {
    top: 150px; 
    left: 60px;
}
figure .inner p:nth-child(2) {
    right: 20px; 
    transform: rotate(90deg);
}
figure .inner h1 {
    font-family: 'Ownglyph_noocar-Rg';
    position: absolute;
    left: 60px;
    bottom: 400px;
    font-size: 135px;
    color: #000000;
    text-shadow: #3785D8 5px 5px;
    line-height: 1;
    letter-spacing: -3px;
    font-weight: 700;
}

figure .inner h3{
    font-family: 'Ownglyph_noocar-Rg';
    color: #FFFFFF;
    position: absolute;
    left: 60px;
    bottom: 350px;
    text-align: left; 
    vertical-align: middle;
}

/* aboutme */

#eins {
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 200px;
}
#eins .inner-left {
    float: left;
    height: 600px;
}
#eins .inner-left h1 {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -500px;
    z-index: 10;
    font-family: 'Danjo-bold-Regular';
    font-size: 50px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 1px;
}
#eins .inner-left .pic {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -500px;
    z-index: 20;
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../static/img/circle.png);
    background-size: 300px;
}
#eins .inner-left a {
    position: absolute;
    top: 100px;
    z-index: 20;
    display: block;
    width: 20px;
    height: 120px;
    text-align: center;
    font-family: 'Danjo-bold-Regular';
    color: #FFFFFF;
    font-size: 20px;
    transform: rotate(90deg);
}
#eins .inner-right {
    position: absolute;
    top: 300px;
    right: 50%;
    margin-right: -450px;
    float: left;
    width: 500px;
    height: 400px;
}
#eins .inner-right ul {
    position: relative;
    width: 500px;
    height: 300px;
}
#eins .inner-right ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 300px;
    font-family: 'Ownglyph_noocar-Rg';
    font-size: 20px;
    line-height: 2;
}
#eins .inner-right ul li:not(:first-child) {
    display: none;
}
#eins .inner-right button {
    outline: none;
    border: none;
    background: none;
    width: 21px;
    height: 41px;
    text-indent: -9999px;
    background-image: url(../static/img/sprite.png);
}
#eins .inner-right .prev {
    position: absolute;
    top: -42px;
    right: 50%;
    margin-right: -200px;
    background-position: 0 0;
}
#eins .inner-right .next {
    position: absolute;
    top: -42px;
    right: 50%;
    margin-right: -230px;
    background-position: -31px -42px;
}
#eins .inner-right .prev:hover {
    background-position: 0 -42px;
}
#eins .inner-right .next:hover {
    background-position: -31px -42px;
}
#eins .inner-right .disabled {
    pointer-events: none;
}

/* interest */
#vier {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 수평 중앙 정렬 */  
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#vier.visible {
    opacity: 1;
    transform: translateY(0);
}

#vier .inner h1 {
    top: 200px;
    font-family: 'Danjo-bold-Regular';
    color: #3785D8;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 20px #FFFFFF;
}

#vier .inner .wrap {
    width: 100%;
    margin-top: 50px;
}

#vier .inner .wrap .ii {
    width: 400px;
    float: left;
    margin-right: 50px;
}

#vier .inner .wrap .ii:last-child {
    margin-right: 0px;
}

#vier .inner .wrap .ii h3 {
    margin-bottom: 10px;
}

#vier .inner .wrap .ii h3 a {
    font-family: 'Danjo-bold-Regular';
    font: 30px/1;
    color: #1C1DAB;
}

#vier .inner .wrap .ii p {
    font-family: 'Ownglyph_noocar-Rg';
    font: 20px/1.4;
    color: #3785D8;
}

#vier .inner .wrap .ii .pic {
    width: 100%;
    height: 250px;
    background: #1C1DAB;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#vier .inner .wrap .ii .pic img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* content */

#funf {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#funf.visible {
    opacity: 1;
    transform: translateY(0);
}

#funf h1 {
    top: 200px;
    color: #3785D8;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Danjo-bold-Regular';
    text-shadow: 0 0 20px #FFFFFF;
}

#funf .content {
    display: flex;
    align-items: center; 
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease; 
    justify-content: center;
}

#funf #alpha {
    justify-content: center;
}

#funf .content .hobby {
    float: left;
    width: 400px;
    position: relative;
    margin: 10px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;  
}

#funf .content .hobby img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#funf .content .hobby .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

#funf .content .hobby:hover img {
    transform: scale(1.2);
}

#funf .content .hobby .overlay p {
    margin: 0;
    font-family: 'Danjo-bold-Regular';
    font-size: 20px;
    text-align: center;
}

#funf .content .hobby:hover .overlay {
    opacity: 1;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

/* footer */

footer {
    font-family: 'Ownglyph_noocar-Rg';
    width: 100%;
    height: 100px;
    background: #1C1DAB;
    color: #ffffff;
}
footer address {
    padding-top: 20px;
    font: 15px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

/* qr code */
.overlay {
    display: none; /* 숨김 상태로 시작 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,15,117, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

.qr-code-container {
    background-color: #FFF9EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30,15,117, 0.5);
}

.qr-code {
    max-width: 100%;
    height: auto;
}

/* 방명록 */ 

#app-container {
    flex: 1;
    display: flex;
    max-height: 530px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
}

#guestbook-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #BF8CE1;
    color: #CBD8E8;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
}

#guestbook-popup {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    height: 530px;
    box-shadow: 0 0 5px rgba(30,15,117, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/apricot.jpg");
}

#guestbook-header {
    font-family: 'Danjo-bold-Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #BF8CE1;
    border-bottom: 1px solid #ADC6E5;
    color: #ffffff;
}

#guestbook-header h2 {
    margin: 0;
    font-size: 20pt;
}

#guestbook-form {
    font-family: 'Ownglyph_noocar-Rg';
    padding: 10px;
    border-top: 1px solid #ADC6E5;
    display: flex;
    background: #CBD8E8;
    flex-direction: column;
}

#guestbook-form input[type="text"] {
    font-family: 'Danjo-bold-Regular';
    flex: 1;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px; 
}

#guestbook-form textarea {
    font-family: 'Ownglyph_noocar-Rg';
    width: 100%;
    height: auto;
    resize: none;
    overflow-y: hidden;
    margin-bottom: 10px; 
}

#guestbook-form input {
    font-family: 'Ownglyph_noocar-Rg';
    flex-grow: 1;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ADC6E5;
    border-radius: 4px;
}

#guestbook-form button {
    font-family: 'Danjo-bold-Regular';
    padding: 5px 10px;
    background-color: #BF8CE1;
    color: #CBD8E8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#messages-display {
    margin-bottom: auto;
    padding: 10px;
    overflow-y: auto;
    height: 312px;
}

.message {
    width: 80%;
    margin-left: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message-content {
    font-family: 'Ownglyph_noocar-Rg';
    flex-grow: 1;
}

.message-content strong {
    font-family: 'Danjo-bold-Regular';
    font-size: 12px;
    display: block; /* 블록 요소로 설정하여 작성자가 한 줄을 차지하게 함 */
    margin-bottom: 5px; /* 작성자와 내용 사이에 간격 추가 */
}

.message-content small {
    font-family: 'Danjo-bold-Regular';
    font-size: 8px;
    display: block; /* 블록 요소로 설정하여 타임스탬프가 한 줄을 차지하게 함 */
    margin-top: 5px; /* 내용과 타임스탬프 사이에 간격 추가 */
}

.message-meta {
    font-size: 15px;
    color: #666666;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 15px;
    cursor: pointer;
}
