@charset "utf-8";
@font-face {
    font-family: 'April16th-Promise';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

* {
    font-family: 'April16th-Promise';

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

header {
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 0px;
    bottom: 15px;
}

header .inner h1 a {
    font: bold 24px/1;
    color: #444444;
}

header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font: bold 15px/1;
    color: #555555;
    padding: 20px 40px;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background: #555555;
    color: #ffffff;
}

/* visual */

figure {
    width: 100%;
    height: calc(100vh - 120px);
    background: #000000;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}

figure video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
}

figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}

figure .inner h1 {
    font: normal 120px/1;
    color: #ffffff;
    margin-bottom: 20px;
}

figure .inner p {
    font: 16px/1.4;
    color: #888888;
    margin-bottom: 60px;
}

figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbbbbb;
    font: bold 11px/30px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s;
}

figure .inner a:hover {
    background: #ffffff;
    color: #555555;
}

/* news */

.news {
    width: 100%;
    padding: 200px 0px;
}

section .inner {
    width: 1180px;
    margin: 0px auto;
}

section .inner h1 {
    font: bold 24px/1;
    color: #555555;
    text-align: center;
    margin-bottom: 50px;
}

section .inner .wrap {
    width: 100%;
}

section .inner .wrap::after {
    content: "";
    display: block;
    clear: both;
}

section .inner .wrap article {
    width: 280px;
    float: left;
    margin-right: 20px;
}

section .inner .wrap article:last-child {
    margin-right: 0px;
}

section .inner .wrap article h2 {
    margin-bottom: 10px;
}

section .inner .wrap article h2 a {
    font: bold 16px/1;
    color: #555555;
}

section .inner .wrap article p {
    font: 14px/1.4;
    color: #777777;
}

section .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    background: #333333;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

section .inner .wrap article .pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    width: 100%;
    background: #333333;
    padding: 100px 0px;
    border-top: 1px solid #888888;
}

footer .inner {
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777777;
    padding-bottom: 20px;
}

footer .inner .upper::after {
    content: "";
    display: block;
    clear: both;
}

footer .inner .upper h1 {
    float: left;
    font: bold 24px/1;
    color: #666666;
}

footer .inner .upper ul {
    float: right;
}

footer .inner .upper ul li {
    float: left;
    margin-left: 20px;
}

footer .inner .upper ul li a {
    font: bold 14px/1;
    color: #666666;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower address {
    width: 100%;
    font: 12px/1;
    color: #777777;
    margin-bottom: 20px;
}

footer .inner .lower p {
    width: 100%;
    font: 12px/1;
    color: #777777;
}

/* qr code */
.overlay {
    display: none; /* 숨김 상태로 시작 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명 배경 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

.qr-code-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.qr-code {
    max-width: 100%;
    height: auto;
}

/* profile card */

body {
    background-color: #ebfaff;
}

section {
    width: 340px;
    padding: 30px;
    background-color: #ffffff;
    margin: 50px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section nav.menu {
    width: 100%;
}

section nav.menu::after {
    content: "";
    display: block;
    clear: both;
}

section nav.menu a {
    font-size: 20px;
    color: #666666;
}

section nav.menu a:nth-of-type(1) {
    float: left;
}

section nav.menu a:nth-of-type(2) {
    float: right;
}

section article.profile {
    width: 100%;
    text-align: center;
}

section article.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}

section article.profile h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #555555;
    margin-bottom: 5px;
}

section article.profile h2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    color: #bbbbbb;
    margin-bottom: 30px;
}

section a.btnView {
    display: block;
    width: 180px;
    height: 32px;
    margin: 0px auto 20px;
    background-color: #444444;
    border-radius: 16px;
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    background: linear-gradient(45deg, #4affff, #35e0f7);
    box-shadow: 5px 10px 20px rgba(0, 255, 255, 0.493);
}

section ul.contact li {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #eeeeee;
}

section ul.contact li:last-child {
    border-bottom: none;
}

section ul.contact li i {
    width: 20%;
    text-align: center;
    color: #555555;
    font-size: 15px;
    text-shadow: 2px 2px 2px #dddddd;
}

section ul.contact li span {
    font-weight: normal;
    font-size: 11px;
    color: #555555;
    letter-spacing: 1px;
}

/* 방명록 */ 

#app-container {
    flex: 1;
    display: flex;
    max-height: 400px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
}

#guestbook-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
}

#guestbook-popup {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 300px;
    height: 480px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/apricot.jpg");
}

#guestbook-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    border-bottom: 1px solid #dddddd;
    color: white;
}

#guestbook-header h2 {
    margin: 0;
}

#guestbook-form {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    background: #f9f9f9;
    flex-direction: column;
}

#guestbook-form input[type="text"] {
    flex: 1;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px; 
}

#guestbook-form textarea {
    width: 100%;
    height: auto;
    resize: none;
    overflow-y: hidden;
    margin-bottom: 10px; 
}

#guestbook-form input {
    flex-grow: 1;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#guestbook-form button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#messages-display {
    margin-bottom: auto;
    padding: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message-content {
    flex-grow: 1;
}

.message-meta {
    font-size: 12px;
    color: #666666;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}
