@charset "utf-8";
@font-face {
    font-family: 'April16th-Promise';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

* {
    font-family: 'April16th-Promise';

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;

    cursor: url(../static/img/blue-whale.png) 32 32, auto;
}

body {
    background-color: #CBD8E8;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    background-color: #CBD8E8;
    border-bottom: 1px solid #ADC6E5;
}
header .inner {
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    position: relative;
}
header .inner h1 {
    position: absolute;
    left: 0px;
    height: 100px;
    line-height: 100px;
}
header .inner h1 a {
    font: bold 30px/1;
    color: #1C1DAB;
}
header .inner #gnb {
    position: absolute;
    bottom: 10px;
    right: 0px;
}
header .inner #gnb li {
    float: left;
    width: 120px;
}
header .inner #gnb li a {
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    transition:all 0.5s;

    color: #1C1DAB;
}
header .inner #gnb li a:hover {
    background: #1C1DAB;
    color: #CBD8E8;
}
header .inner #gnb #qrcode-link {
    width: 50px;
}

/* visual */

figure {
    width: 100%;
    height: calc(100vh - 120px);
    background: #1E0F75;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}

figure video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
}

figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}

figure .inner h1 {
    font: normal 120px/1;
    color: #CBD8E8;
    margin-bottom: 20px;
}

figure .inner p {
    font: 16px/1.4;
    color: #3785D8;
    margin-bottom: 60px;
}

figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #EBB2C3;
    font: bold 11px/30px;
    color: #CBD8E8;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s;
}

figure .inner a:hover {
    background: #CBD8E8;
    color: #1C1DAB;
}

/* news */

#funf {
    width: 100%;
    padding: 200px 0px;
}

#funf .inner {
    width: 1180px;
    margin: 0px auto;
}

#funf .inner h1 {
    font: bold 24px/1;
    color: #1C1DAB;
    text-align: center;
    margin-bottom: 50px;
}

#funf .inner .wrap {
    width: 100%;
}

#funf .inner .wrap::after {
    content: "";
    display: block;
    clear: both;
}

#funf .inner .wrap article {
    width: 280px;
    float: left;
    margin-right: 20px;
}

#funf .inner .wrap article:last-child {
    margin-right: 0px;
}

#funf .inner .wrap article h2 {
    margin-bottom: 10px;
}

#funf .inner .wrap article h2 a {
    font: bold 16px/1;
    color: #1C1DAB;
}

#funf .inner .wrap article p {
    font: 14px/1.4;
    color: #3785D8;
}

#funf .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    background: #1C1DAB;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

#funf .inner .wrap article .pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background: #1C1DAB;
    color: #ffffff;
}
footer address {
    padding-top: 20px;
    font: 15px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

/* qr code */
.overlay {
    display: none; /* 숨김 상태로 시작 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,15,117, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

.qr-code-container {
    background-color: #FFF9EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30,15,117, 0.5);
}

.qr-code {
    max-width: 100%;
    height: auto;
}

/* 방명록 */ 

#app-container {
    flex: 1;
    display: flex;
    max-height: 400px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
}

#guestbook-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #BF8CE1;
    color: #CBD8E8;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 36px;
    z-index: 1000;
}

#guestbook-popup {
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 450px;
    height: 720px;
    box-shadow: 0 0 5px rgba(30,15,117, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/apricot.jpg");
}

#guestbook-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #BF8CE1;
    border-bottom: 1px solid #ADC6E5;
    color: #ffffff;
}

#guestbook-header h2 {
    margin: 0;
    font-size: 30pt;
}

#guestbook-form {
    padding: 10px;
    border-top: 1px solid #ADC6E5;
    display: flex;
    background: #CBD8E8;
    flex-direction: column;
}

#guestbook-form input[type="text"] {
    flex: 1;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px; 
}

#guestbook-form textarea {
    width: 100%;
    height: auto;
    resize: none;
    overflow-y: hidden;
    margin-bottom: 10px; 
}

#guestbook-form input {
    flex-grow: 1;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ADC6E5;
    border-radius: 4px;
}

#guestbook-form button {
    padding: 5px 10px;
    background-color: #BF8CE1;
    color: #CBD8E8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#messages-display {
    margin-bottom: auto;
    padding: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CBD8E8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message-content {
    flex-grow: 1;
}

.message-meta {
    font-size: 25px;
    color: #666666;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 25px;
    cursor: pointer;
}
